In [1]:
import pandas as pd

# Qual o tipo de cada parametro nos registros?

In [2]:
df = pd.read_json("batch_records.json")

In [3]:
df.head()

,VAR2,IDADE,VAR5,VAR6,VAR7,VAR8,VAR9,VAR10,VAR11,VAR12,...,VAR135,VAR136,VAR137,VAR138,VAR139,VAR140,VAR141,VAR142,REF_DATE,TARGET
0,M,43.893,PR,-25.495571,-49.245499,D,E,MEDIA,1.0,0.182,...,MEDIO,MEDIO,MEDIO,MEDIO,MEDIO,MUITO PROXIMO,3970.113648,C,2017-03-25 00:00:00+00:00,1
1,F,31.559,RS,-30.109092,-51.323827,E,E,ALTISSIMA,0.0,0.055,...,MUITO PROXIMO,MEDIO,LONGE,LONGE,LONGE,MUITO PROXIMO,1513.227400,E,2017-08-31 00:00:00+00:00,1
2,M,42.918,SP,-23.561438,-46.626433,E,E,ALTA,0.0,NaN,...,MEDIO,PROXIMO,MEDIO,PROXIMO,MEDIO,MEDIO,1815.143850,E,2017-03-30 00:00:00+00:00,1
3,F,64.811,SP,-23.434434,-46.790104,None,E,MEDIA,NaN,0.109,...,LONGE,PROXIMO,LONGE,LONGE,PROXIMO,MUITO PROXIMO,1534.131957,E,2017-08-24 00:00:00+00:00,1
4,M,21.959,AM,-3.130695,-58.441465,E,E,BAIXISSIMA,0.0,NaN,...,MEDIO,MUITO LONGE,MEDIO,MUITO LONGE,MEDIO,MUITO LONGE,1570.642421,E,2017-01-14 00:00:00+00:00,1

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Columns: 120 entries, VAR2 to TARGET
dtypes: float64(19), int64(1), object(100)
memory usage: 468.9+ KB

usando o df.info, para verificar qual tipo foi atribuido para cada coluna pelo pandas

In [12]:
df.info(verbose=1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 120 columns):
 #    Column    Dtype
---   ------    -----
 0    VAR2      object
 1    IDADE     float64
 2    VAR5      object
 3    VAR6      float64
 4    VAR7      float64
 5    VAR8      object
 6    VAR9      object
 7    VAR10     object
 8    VAR11     float64
 9    VAR12     float64
 10   VAR14     float64
 11   VAR15     float64
 12   VAR16     float64
 13   VAR18     float64
 14   VAR19     float64
 15   VAR22     float64
 16   VAR24     float64
 17   VAR25     float64
 18   VAR32     object
 19   VAR39     float64
 20   VAR40     float64
 21   VAR41     float64
 22   VAR42     float64
 23   VAR47     float64
 24   VAR49     object
 25   VAR50     object
 26   VAR51     object
 27   VAR52     object
 28   VAR53     object
 29   VAR54     object
 30   VAR55     object
 31   VAR56     object
 32   VAR57     object
 33   VAR58     object
 34   VAR59     object
 35   VAR60     object
 36   VAR61     object
 37   VAR62     object
 38   VAR63     object
 39   VAR64     object
 40   VAR65     object
 41   VAR66     object
 42   VAR67     object
 43   VAR68     object
 44   VAR69     object
 45   VAR70     object
 46   VAR71     object
 47   VAR72     object
 48   VAR73     object
 49   VAR74     object
 50   VAR75     object
 51   VAR76     object
 52   VAR77     object
 53   VAR78     object
 54   VAR79     object
 55   VAR80     object
 56   VAR81     object
 57   VAR82     object
 58   VAR83     object
 59   VAR84     object
 60   VAR85     object
 61   VAR86     object
 62   VAR87     object
 63   VAR88     object
 64   VAR89     object
 65   VAR90     object
 66   VAR91     object
 67   VAR92     object
 68   VAR93     object
 69   VAR94     object
 70   VAR95     object
 71   VAR96     object
 72   VAR97     object
 73   VAR98     object
 74   VAR99     object
 75   VAR100    object
 76   VAR101    object
 77   VAR102    object
 78   VAR103    object
 79   VAR104    object
 80   VAR105    object
 81   VAR106    object
 82   VAR107    object
 83   VAR108    object
 84   VAR109    object
 85   VAR110    object
 86   VAR111    object
 87   VAR112    object
 88   VAR113    object
 89   VAR114    object
 90   VAR115    object
 91   VAR116    object
 92   VAR117    object
 93   VAR118    object
 94   VAR119    object
 95   VAR120    object
 96   VAR121    object
 97   VAR122    object
 98   VAR123    object
 99   VAR124    object
 100  VAR125    object
 101  VAR126    object
 102  VAR127    object
 103  VAR128    object
 104  VAR129    object
 105  VAR130    object
 106  VAR131    object
 107  VAR132    object
 108  VAR133    object
 109  VAR134    object
 110  VAR135    object
 111  VAR136    object
 112  VAR137    object
 113  VAR138    object
 114  VAR139    object
 115  VAR140    object
 116  VAR141    float64
 117  VAR142    object
 118  REF_DATE  object
 119  TARGET    int64
dtypes: float64(19), int64(1), object(100)
memory usage: 468.9+ KB

## Criando um parser simples, para criar um dicionario com o tipo de cada variavel no registro

In [29]:
dtypes = """ 0    VAR2      object 
 1    IDADE     float64
 2    VAR5      object 
 3    VAR6      float64
 4    VAR7      float64
 5    VAR8      object 
 6    VAR9      object 
 7    VAR10     object 
 8    VAR11     float64
 9    VAR12     float64
 10   VAR14     float64
 11   VAR15     float64
 12   VAR16     float64
 13   VAR18     float64
 14   VAR19     float64
 15   VAR22     float64
 16   VAR24     float64
 17   VAR25     float64
 18   VAR32     object 
 19   VAR39     float64
 20   VAR40     float64
 21   VAR41     float64
 22   VAR42     float64
 23   VAR47     float64
 24   VAR49     object 
 25   VAR50     object 
 26   VAR51     object 
 27   VAR52     object 
 28   VAR53     object 
 29   VAR54     object 
 30   VAR55     object 
 31   VAR56     object 
 32   VAR57     object 
 33   VAR58     object 
 34   VAR59     object 
 35   VAR60     object 
 36   VAR61     object 
 37   VAR62     object 
 38   VAR63     object 
 39   VAR64     object 
 40   VAR65     object 
 41   VAR66     object 
 42   VAR67     object 
 43   VAR68     object 
 44   VAR69     object 
 45   VAR70     object 
 46   VAR71     object 
 47   VAR72     object 
 48   VAR73     object 
 49   VAR74     object 
 50   VAR75     object 
 51   VAR76     object 
 52   VAR77     object 
 53   VAR78     object 
 54   VAR79     object 
 55   VAR80     object 
 56   VAR81     object 
 57   VAR82     object 
 58   VAR83     object 
 59   VAR84     object 
 60   VAR85     object 
 61   VAR86     object 
 62   VAR87     object 
 63   VAR88     object 
 64   VAR89     object 
 65   VAR90     object 
 66   VAR91     object 
 67   VAR92     object 
 68   VAR93     object 
 69   VAR94     object 
 70   VAR95     object 
 71   VAR96     object 
 72   VAR97     object 
 73   VAR98     object 
 74   VAR99     object 
 75   VAR100    object 
 76   VAR101    object 
 77   VAR102    object 
 78   VAR103    object 
 79   VAR104    object 
 80   VAR105    object 
 81   VAR106    object 
 82   VAR107    object 
 83   VAR108    object 
 84   VAR109    object 
 85   VAR110    object 
 86   VAR111    object 
 87   VAR112    object 
 88   VAR113    object 
 89   VAR114    object 
 90   VAR115    object 
 91   VAR116    object 
 92   VAR117    object 
 93   VAR118    object 
 94   VAR119    object 
 95   VAR120    object 
 96   VAR121    object 
 97   VAR122    object 
 98   VAR123    object 
 99   VAR124    object 
 100  VAR125    object 
 101  VAR126    object 
 102  VAR127    object 
 103  VAR128    object 
 104  VAR129    object 
 105  VAR130    object 
 106  VAR131    object 
 107  VAR132    object 
 108  VAR133    object 
 109  VAR134    object 
 110  VAR135    object 
 111  VAR136    object 
 112  VAR137    object 
 113  VAR138    object 
 114  VAR139    object 
 115  VAR140    object 
 116  VAR141    float64
 117  VAR142    object 
 118  REF_DATE  object 
 119  TARGET    int64 """

In [35]:
import re
for line in dtypes.split("\n"): #cada linha possui uma coluna/variavel
    filtered_line = re.sub("^\d*","",line.strip()) #removendo o numero da linha
    aux = filtered_line.split() #agora temos apenas os valores que nos interessam, o nome da coluna/variavel/feature e seu tipo
    var_name = aux[0]
    var_type = aux[-1] if aux[-1] != 'object' else 'str' #renomeando object para str
    var_type = re.sub("\d*","",var_type) #apenas removendo o 64 do int64 e float64
    print(f"{var_name}: {var_type}")

VAR2: str
IDADE: float
VAR5: str
VAR6: float
VAR7: float
VAR8: str
VAR9: str
VAR10: str
VAR11: float
VAR12: float
VAR14: float
VAR15: float
VAR16: float
VAR18: float
VAR19: float
VAR22: float
VAR24: float
VAR25: float
VAR32: str
VAR39: float
VAR40: float
VAR41: float
VAR42: float
VAR47: float
VAR49: str
VAR50: str
VAR51: str
VAR52: str
VAR53: str
VAR54: str
VAR55: str
VAR56: str
VAR57: str
VAR58: str
VAR59: str
VAR60: str
VAR61: str
VAR62: str
VAR63: str
VAR64: str
VAR65: str
VAR66: str
VAR67: str
VAR68: str
VAR69: str
VAR70: str
VAR71: str
VAR72: str
VAR73: str
VAR74: str
VAR75: str
VAR76: str
VAR77: str
VAR78: str
VAR79: str
VAR80: str
VAR81: str
VAR82: str
VAR83: str
VAR84: str
VAR85: str
VAR86: str
VAR87: str
VAR88: str
VAR89: str
VAR90: str
VAR91: str
VAR92: str
VAR93: str
VAR94: str
VAR95: str
VAR96: str
VAR97: str
VAR98: str
VAR99: str
VAR100: str
VAR101: str
VAR102: str
VAR103: str
VAR104: str
VAR105: str
VAR106: str
VAR107: str
VAR108: str
VAR109: str
VAR110: str
VAR111: str
VAR112: str
VAR113: str
VAR114: str
VAR115: str
VAR116: str
VAR117: str
VAR118: str
VAR119: str
VAR120: str
VAR121: str
VAR122: str
VAR123: str
VAR124: str
VAR125: str
VAR126: str
VAR127: str
VAR128: str
VAR129: str
VAR130: str
VAR131: str
VAR132: str
VAR133: str
VAR134: str
VAR135: str
VAR136: str
VAR137: str
VAR138: str
VAR139: str
VAR140: str
VAR141: float
VAR142: str
REF_DATE: str
TARGET: int